@model Incident
@{
    string title = ViewBag.Action + " Incident";
    ViewBag.Title = title;
    ViewBag.Title = "Edit Incident";
}

<h3>@title</h3>
<form method="post" asp-action="Edit">
    <input hidden asp-for="IncidentId"/>
    <div>
        <div asp-validation-summary="All"></div>
        <div class="row">
            <label asp-for="Customer"></label>
            @*<select asp-for="IncidentId" class="form-select"
                    asp-items="@(new SelectList(ViewBag.Incident, "IncidentId", "FirstName"))">
                <option value="0"></option>*@
            </select>
            <span asp-validation-for="Customer" class="text-danger"></span>
        </div>
        <div class="row">
            <label asp-for="Product"></label>
            <input asp-for="Product" class="form-control" />
            <span asp-validation-for="Product" class="text-danger"></span>
        </div>
        <div class="row">
            <label asp-for="Title"></label>
            <input asp-for="Title" class="form-control" />
            <span asp-validation-for="Title" class="text-danger"></span>
        </div>
        <div class="row">
            <label asp-for="Description"></label>
            <input asp-for="Description" class="form-control" />
            <span asp-validation-for="Description" class="text-danger"></span>
        </div>
        <div class="row">
            <label asp-for="Technician"></label>
            <input asp-for="Technician" class="form-control" />
            <span asp-validation-for="Technician" class="text-danger"></span>
        </div>
        <div class="row">
            <label asp-for="DateOpened"></label>
            <input asp-for="DateOpened" class="form-control" />
            <span asp-validation-for="DateOpened" class="text-danger"></span>
        </div>
        <div class="row">
            <label asp-for="DateClosed"></label>
            <input asp-for="DateClosed" class="form-control" />
            <span asp-validation-for="DateClosed" class="text-danger"></span>
        </div>
        <br />
        <button type="submit" class="btn btn-primary">Save</button> 
        <a asp-controller="Incident" asp-action="List" class="btn btn-primary">Cancel</a>
    </div>
</form>